<!DOCTYPE html>
<html>
<head>
	<title>TrustNote Explorer</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="/styles/app.css?v7">
	<link rel="icon" href="/img/icon.png">
	<style type="text/css">
		#rUp, #rDown {
			position: absolute;
			background: #FFFFFF;
			height: 20px;
			z-index: 5;
			font-size: 0;
			cursor: n-resize;
			left: 0;
			right: 0;
		}
		#rUp {
			top: 0;
		}

		#rDown {
			bottom: 0;
		}
	</style>
</head>
<body>
<!--top bar-->
<div id="menu" class="rowFull">
	<div id="menuLeft">
		<a href="http://explorer.trustnote.org" id="menuLeftImg"><img src="/img/logo.png"></a>
		<div id="menuLeftTitle"><a href="http://explorer.trustnote.org">TrustNote</a></div>
	</div>
	<div id="menuRight">
		<div id="menuInput">
			<form action="javascript:searchForm($('#inputSearch').val())" method="post">
				<input type="text" id="inputSearch" placeholder="Search for unit or address">
				<input type="submit" value="" id="submitSearch">
			</form>
		</div>
	</div>
</div>
<!--data list-->
<div class="main">
	<div class="dataList">
		<div class="first">
			<h3>All-time Summary</h3>
			<p>Total users addresses: <span id="allAddress">&nbsp;</span></p>
			<p>Total users active addresses: <span id="activeAddress">&nbsp;</span></p>
			<p>Total levels: <span id="level">&nbsp;</span></p>
		</div>
		<div class="second">
			<h3>Current 24 hours Snapshot</h3>
			<p>Total units posted: <span id="totalUnits">&nbsp;</span></p>
			<p>Total users units: <span id="totalUserUnits">&nbsp;</span></p>
			<p>Total fees: <span id="totalFees">&nbsp;</span> MN</p>
		</div>
		<div class="third">
			<div class="scroll">
				<h3>Current Unit</h3>
				<p class="infoTitle" id="unitParent">Unit: <span id="unit"></span></p>
				<p class="infoTitle">Received time: <span id="received"></span></p>
				<p class="infoTitle">Authors:<span id="authors"></span></p>
				<div id="messages"></div>
			</div>
			<div class="cover">
				<a href="/detail">Detail</a>
			</div>
		</div>
	</div>
</div>
<div class="canvasBox" id="canvasBox" onselectstart="return false">
	<div id="middleware">
		<div id="cy"></div>
		<div id="goToTop" onclick="goToTop()">
			<div id="titleGoToTop">Go to top</div>
		</div>
	</div>
	<img src="/img/statusGroup.png" alt="">
	<div id="rUp"></div>
	<div id="rDown"></div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cytoscape.js"></script>
<script src="/js/dagre.js"></script>
<script src="/js/cytoscape-dagre.js"></script>
<script src="/js/main.js?v12"></script>
<script src="/js/resize.js"></script>
<script>
	var userAgent = navigator.userAgent;
	if (userAgent.match(".*Android.*") || userAgent.match(".*iPhone.*")) {
		// console.log("Android");
		// console.log("iPhone");
		$('#canvasBox').hide();

	} else {
		console.log("You're something else...");
	}
	$('#canvasBox').on('mouseup',function (e) {
		_cy.resize()
	})

</script>
</body>
</html>
