body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.split-line {
	height: 20px;
	border: none;
	margin-left: -3px;
	/*border-bottom: 1px solid #BBB;*/
	background-color: #eee;
}

#menu {
	height: 78px;
	border-bottom: 1px solid #ccc;
	background-color: #1C0E22;
}

/*#menuInput {
	float: left;
	margin-left: 15px;
}*/

#menu #inputSearch {
	width: 378px;
	height: 30px;
	border: 1px solid #ccc;
	outline: none;
	padding: 0 15px;
	border-radius: 50px;
}

#submitSearch {
	width: 32px;
	height: 32px;
	border: 0;
	background: url(/img/search.png) center no-repeat transparent;
	background-size: 20px;
	cursor: pointer;
	outline: none;
	position: absolute;
	right: 5px;
	top: 0;
	vertical-align: middle;
}
#menuLeft {
	/*padding: 7px;*/
	margin-left: 32px;
}

#menuLeftImg {
	float: left;
	margin-right: 5px;
	height: 78px;
	line-height: 78px;
}

#menuLeftImg > img {
	/*width: 40px;*/
	vertical-align: middle;
}

#menuLeftTitle {
	float: left;
	/*padding: 5px 5px 7px 7px;*/
	font-size: 17px;
}

#menuLeftTitle a {
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 78px;
}

#menuRight {
	float: right;
	margin-top: 18px;
	margin-right: 24px;
	width: 410px;
	height: 42px;
	position: relative;
}

#menuSocial {
	float: right;
	padding: 5px;
}

#menuSocial img {
	width: 32px;
	height: 32px;
}

#menuSocialTwitter {
	margin-right: 10px;
}

#menuSocialSlack {
	margin-right: 10px;
}

#infoMessage {
	position: absolute;
	z-index: 1001;
	left: 0;
	right: 0;
	text-align: center;
	top: 78px;
	font-size: 20px;
	padding: 13px;
	color: #fff;
	background-color: #ff8585;
	cursor: pointer;
	display: none;
}

#cy {
	position: absolute;
	right: 0;
	left: 450px;
	top: 78px;
	bottom: 0;
	z-index: 999;
}

#info {
	position: absolute;
	left: 0;
	top: 78px;
	bottom: 0;
	width: 450px;
	border-left: 1px solid #ccc;
	overflow: scroll;
}

#unitParent {
	padding-left: 5px;
}

#unit {
	color: #808080;
}

#infoClose, #addressClose {
	text-align: right;
	font-size: 18px;
	margin: 10px;
	display: none;
}

#addressClose {
	display: block;
	margin: 10px auto;
}

#defaultInfo {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
}

#listInfo {
	display: none;
	padding-left: 3px;
}

#info > #listInfo > div {
	margin-top: 10px;
}

.infoTitle {
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	color: #333333;
}

.infoTitle:hover {
	color: #868686;
}

.infoTitle.hideTitle {
	color: #868686;
}

.infoTitle > .infoTitleImg {
	display: inline-block;
	background-image: url(/img/arrow_down.png);
	background-size: cover;
	width: 12px;
	height: 12px;
	margin-bottom: -2px;
}

.infoTitle.hideTitle > .infoTitleImg {
	background-image: url(/img/gray_right.png);
}

.infoTitle.hideTitle:hover {
	color: #333333;
}

#addressInfo .infoTitle {
	padding: 5px 0;
}

#addressInfo .infoTitle > .infoTitleImg {
	margin-bottom: -1px;
}

#addressInfo .infoTitle.hideTitle > .infoTitleImg {
	margin-bottom: -1px;
}

.infoTitleChild {
	font-weight: bold;
	padding: 5px;
	margin-bottom: 7px;
	cursor: pointer;
	color: #333333;
}

.childNotSpoiler {
	font-weight: bold;
	padding: 5px;
	margin-bottom: 7px;
	background-color: #f3f3f3;
	color: #333333;
}

.messagesInfo {
	padding-left: 5px;
	margin-bottom: 10px;
}

.infoTitleInputs, .infoTitleInput {
	font-weight: bold;
	margin-bottom: 7px;
	cursor: pointer;
	color: #333333;
}

.inputsInfo, .inputInfo, .inputsInf {
	margin-bottom: 10px;
}

.messagesInfo > div {
	margin-bottom: 5px;
}

.inputsInfo > div, .inputInfo > div {
	margin-bottom: 5px;
	word-break: break-all;
}

a {
	color: #2980b9;
	text-decoration: none;
}

#info #authors > div, #info #children > div, #info #parents > div , #info #witnesses > div{
	display: block;
	padding: 5px;
}

pre{
	margin: 0;
}

#otherInfo > div {
	padding: 0 5px;
}

.outputs_div {
	margin-bottom: 5px;
}

.outputs_div > div {
	margin-bottom: 10px;
}

.message a {
	display: inline !important;
	padding: 0 !important;
}

.asset {
	margin-left: 10px;
}

#witnessesTitle {
	font-weight: bold;
	padding: 5px;
}

#witnessesTitle > a {
	display: inline;
	font-weight: 300;
	color: #2980b9 !important;
}

.row {
	max-width: 1200px;
	margin: auto;
	padding: 0 0.5rem;
}

.row::before, .row::after, .rowFull::before, .rowFull::after {
	content: ' ';
	display: table;
}

.row::after, .rowFull::after {
	clear: both;
}

#infoAndBalanceAddress {
	margin-top: 20px;
}

#addressInfo {
	position: absolute;
	top: 78px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #fff;
	font-size: 16px;
	display: none;
}

.transactionUnit {
	background-color: #f1f1f1;
	padding: 7px 0;
	margin: 15px 0 5px;
}

.transactionUnitListAddress {
	margin: 0 5px 5px 0;
}

.thisAddress {
	color: #808080;
}

#listUnspent > div {
	margin: 10px 0;
}

#blockListUnspent {
	display: none;
	margin-top: 50px;
}

#listUnits > tr > td:first-child {
	width: 45%;
}

#listUnits > tr > td:nth-child(2) {
	width: 5%;
	text-align: center;
}

#scroll {
	position: absolute;
	right: 0px;
	top: 78px;
	bottom: 0;
	width: 50px;
	overflow: auto;
	z-index: 999;
}

#scrollBody {
	width: 1px;
}

#goToTop {
	width: 48px;
	height: 48px;
	position: absolute;
	z-index: 999;
	cursor: pointer;
	background: url(/img/goToTop.svg) center no-repeat;
	background-size: 28px;
	top: 85px;
	right: 50px;
	border: 1px solid #5e5e5e;
	border-radius: 100%;
}

#goToTop:hover {
	background: url(/img/goToTop_hover.svg) center no-repeat;
	background-size: 28px;
	border: 1px solid #000;
}

#goToTop:hover > #titleGoToTop {
	display: block;
}

#titleGoToTop {
	position: absolute;
	top: 52px;
	text-align: center;
	width: 68px;
	left: -11px;
	display: none;
}

.numberFormat {
	/*cursor: pointer;*/
}

#tableListTransactions {
	width: 100%;
	border-collapse: collapse;
}
@media all and (max-width: 580px) {
	#menu{
		height: 4rem;
	}
	#menuLeft{
		margin-left: 1.2rem;
	}
	#menuLeftImg{
		height: 4rem;
		line-height: 4rem;
	}
	#menuLeftImg img{
		width: auto;
	}
	#menuLeftTitle{
		height: 4rem;
	}
	#menuLeftTitle a{
		font-size: 1rem;
		line-height: 4rem;
	}
	#menuRight {
		float: none;
		margin-top: 4.5rem;
		width: 22rem;
		position: absolute;
		left: 50%;
		margin-left: -11rem;
	}
	#menuInput{
		width: 20rem;
	}
	#menuInput #inputSearch {
		width: 20rem;
		height: 2rem;
		border: 1px solid #ccc;
		outline: none;
		padding: 0 1rem;
		border-radius: 1.8rem;
		background-color: #f2f2f2;
	}
	#menuInput > form {
		width: 21rem;
		position: relative;
	}
	#submitSearch {
		right: -0.8rem;
		top: 0;
	}

	#cy, #scroll, #info {
		top: 115px;
	}
	#info{
		width: 100%;
	}
	#goToTop {
		display: none;
	}

	#addressInfo {
		top: 65px;
	}

	#infoMessage{
		top: 115px;
	}
	#listUnspent a{
		font-size: 12px;
	}
	#tableListTransactions {
		font-size: 12px;
	}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
	#menuInput,#menuInput > form{width:18rem;}
	#menuInput #inputSearch{width:16rem;}
	#menuInput{margin-left: 1rem;}
	#submitSearch {
		right: 0;
		top: 0;
	}
	#info{overflow-y:auto;}
	#menuCenter {
		display: none;
	}
	#unit {
    color: #808080;
    word-break: break-all;
}
#menuRight {
     left: auto; 
     margin-left: 0; 
     width:18rem;
}
#info #authors > div, #info #children > div, #info #parents > div, #info #witnesses > div{word-break: break-all;}

}